<div class="container">
    <h2>Forget Password</h2>
    <div class="position-relative">
    
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form #myForm="ngForm" class="needs-validation" (ngSubmit)="onSubmit(myForm)" novalidate>
            
           
            <div class="mb-3">
              <label class="form-label" for="username">Login Id:</label>
              <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" required
                minlength="2">
              <div *ngIf="myForm.controls['username']?.invalid && myForm.controls['username']?.touched">
                <small class="text-danger" *ngIf="myForm.controls['username']?.errors?.['required']">Login id is
                  required.</small>
                <small class="text-danger" *ngIf="myForm.controls['username']?.errors?.['minlength']">Login id must be
                  at least 2 characters long.</small>
              </div>
            </div>
            
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input type="password" id="password" name="password" class="form-control" [(ngModel)]="user.password"
                required minlength="8" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&].{8,}$">
              <div *ngIf="myForm.controls['password']?.invalid && myForm.controls['password']?.touched">
                <small class="text-danger" *ngIf="myForm.controls['password']?.errors?.['required']">Password is
                  required.</small>
                <small class="text-danger" *ngIf="myForm.controls['password']?.errors?.['minlength']">Password must be
                  at least 8 characters long.</small>
                <small class="text-danger" *ngIf="myForm.controls['password']?.errors?.['pattern']">Password must be
                  alphanumeric and contain at least one special character.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm Password:</label>
              <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                [(ngModel)]="user.confirmPassword" (input)="checkPasswords(myForm)" required>
              <div
                *ngIf="myForm.controls['confirmPassword']?.invalid && myForm.controls['confirmPassword']?.touched">
                <small class="text-danger" *ngIf="myForm.controls['confirmPassword']?.errors?.['required']">Confirm
                  password is required.</small>
                <small class="text-danger"
                  *ngIf="myForm.controls['confirmPassword']?.errors?.['passwordMismatch']">Passwords do not
                  match.</small>
              </div>
            </div>
           
            <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>