<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container-fluid">
          <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >My Product App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
              <ul class="navbar-nav flex-grow-1">
                  <li class="nav-item">
                      <a class="nav-link text-dark" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-dark" [routerLink]="['/paginatedcontacts']" routerLinkActive="router-link-active" >Contacts</a>
                  </li>
                  <li>
                    <div class="row">
                        <div class="col">
                            <div ngbDropdown display="dynamic" class="d-inline-block">
                                <button type="button" class="btn  dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
                                   Reports
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" placement="bottom-left" class="dropdown-menu">
                                    <button ngbDropdownItem class="dropdown-item" [routerLink]="['/getcontactsbybirthdatemonth']" routerLinkActive="router-link-active"> Get Contact By DOB Month</button>
                                    <button ngbDropdownItem class="dropdown-item" [routerLink]="['/getcountbycountry']" routerLinkActive="router-link-active"> Get Contacts Count BasedOn Country</button>
                                    <button ngbDropdownItem class="dropdown-item" [routerLink]="['/getcontactbystate']" routerLinkActive="router-link-active">Get Contact By State</button>
                                    <button ngbDropdownItem class="dropdown-item" [routerLink]="['/getcountofeachgender']" routerLinkActive="router-link-active">Get Contacts Count of each Gender</button>

        
                                    <div class="dropdown-divider"></div>
                                    <button ngbDropdownItem class="dropdown-item" (click)="signOut()" [routerLink]="['/signin']" style="cursor: pointer;" routerLinkActive="router-link-active"> <span><i class="fas fa-sign-out-alt"></i></span> Sign Out</button>
        
        
                                </div>
                            </div>
                        </div>
                    </div>
                  </li>
               
              </ul>
              <ul class="nav navbar-nav ml-auto" *ngIf="!isAuthenticated">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/signup']" routerLinkActive="router-link-active">
                        <i class="fas fa-user"></i> Sign Up
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/signin']" routerLinkActive="router-link-active">
                        <i class="fas fa-sign-in-alt"></i> Sign In
                    </a>
                </li>
            </ul> 
            <ul class="nav navbar-nav ml-auto" *ngIf="isAuthenticated">
                <!-- <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="router-link-active">
                        <span><i class="fas fa-user"></i> {{ username }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="signOut()" style="cursor: pointer;" [routerLink]="['/paginatedcontacts']" routerLinkActive="router-link-active">
                        <span><i class="fas fa-sign-out-alt"></i> Sign Out</span>
                    </a>
                </li> -->
              <!-- <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span><i class="fas fa-user"></i> {{ username }}</span>
                  </a>
                
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="signOut()" style="cursor: pointer;" [routerLink]="['/paginatedcontacts']" routerLinkActive="router-link-active" href="#">
                        <span><i class="fas fa-sign-out-alt"></i> Sign Out</span></a>
                    </li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
              </div> -->

              <div class="row">
                <div class="col">
                    <div ngbDropdown display="dynamic" class="d-inline-block">
                        <button type="button" class="btn  dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
                            <!-- <img src="assets/DefaultImage2.png" class="rounded-circle mr-2" alt="User Avatar" style="width: 30px; height: 30px;"> -->
                            <!-- Add the image here -->
                            <img src="{{ user?.imageByte ? 'data:image/jpeg;base64,' + user?.imageByte : 'assets/DefaultImage2.png' }}" 
                               class="rounded-circle mr-2" 
                               alt="User Avatar" 
                               style="width: 30px; height: 30px;"> 
                            {{ username }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" placement="bottom-left" class="dropdown-menu">
                            <button ngbDropdownItem class="dropdown-item" [routerLink]="['/changepassword']" routerLinkActive="router-link-active"> <i class="fas fa-key"></i> Change Password</button>
                            <button ngbDropdownItem class="dropdown-item" [routerLink]="['/userdetail',username]" routerLinkActive="router-link-active"> <i  class="fas fa-id-badge"></i> Your Profile</button>
                            <button ngbDropdownItem class="dropdown-item" [routerLink]="['/edituser', username]" routerLinkActive="router-link-active"><i class="fas fa-pen"></i> Edit</button>

                            <div class="dropdown-divider"></div>
                            <button ngbDropdownItem class="dropdown-item" (click)="signOut()" [routerLink]="['/signin']" style="cursor: pointer;" routerLinkActive="router-link-active"> <span><i class="fas fa-sign-out-alt"></i></span> Sign Out</button>


                        </div>
                    </div>
                </div>
            </div>
                
            </ul>   
          </div>
      </div>
  </nav>
</header>
<div class="container">
  <main role="main" class="pb-3">
    
      <!-- <div id="autoCloseAlert" class="alert alert-danger alert-dismissible fade show">
              <b>Error:</b> @errorMessage
              <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
          </div> -->
      
      <!-- <div id="messageContainer" class="message-container"></div> -->
      <router-outlet></router-outlet>
    </main>
</div>

<footer class="border-top footer text-muted">
  <div class="container">
      &copy; 2024 - My Contact Book App - <a [routerLink]="['/privacy']" routerLinkActive="router-link-active" >Privacy</a>
  </div>
</footer>
