@{
    var maleCount = ViewBag.ContactCountM;
    var femaleCount = ViewBag.ContactCountF;
}

<div class="card col-md-6">

    <div class="card-header">
        Total count of Male
    </div>
    <div class="card-body">@maleCount</div>
</div>
<div class="card col-md-6">
    <div class="card-header">
        Total count of Female
    </div>
    <div class="card-body">@femaleCount</div>
</div>